@import "tailwindcss";
@import "./fonts.css";

/* *{
  border: 1px solid black;
} */
:root {
  font-family: 'Cera Pro', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  line-height: 1.5;
  font-weight: 400;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}
button{
  cursor: pointer;
}